
.main-text{
 font-weight: bold;
 margin-top: 30px;
 color: white;
}
.social-icons{
    list-style: none;
    display: flex;
    color: white; 
}

    .icon {
        margin-right: 10px;
        background-color: blue;
        border-radius: 50%; /* Add this property to make the icons round */
        width: 30px; /* Adjust the width and height as needed */
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      };
      .icon i{
        color: white;
      }
      



.icon:hover{
    background: none;
}
.icon a:hover{
    color: whitesmoke;
}
.footer{
    padding-top: 20px;
    margin-bottom: -20px;
}
.copyright{
    margin-top: -12px;
}