/* offer section styling */
.body{
    background-color:#eeeeee;
}

.h4-class{
   font-size: medium;
}

.description{
    margin-left: 15px;
}

.description p{
    font-size: small;
    margin-bottom: 10px;
    margin-top: -10px;
    
}
.description  button{
    background-color:blue ;
    border: none;
    margin-top: 6px;
  
}
.description  button:hover{
    background-color: white;
}
.description button a{
    text-decoration: none;
    color: white;
}
.description button a:hover{
  
    color: black;
}
.image-fluid{
    max-width: 100%;
    margin-left:-10px;
}
.wrapper{
    position: relative;
    bottom: 30%;
    left: 6%;
    color: white;
}
.wrapper button{
    background-color: blue;
    border: none;
    margin-top: 5px;
}
.wrapper button:hover{
    background-color: white;
}
.wrapper button a{
    color: white;
    text-decoration: none;
}
.wrapper button a:hover{
    color: black;
}
.text-description{
    margin-bottom: -118px;
}
/* offer section styling */



