
        body {
            background-color: #f2f2f2;
        }
        .container {
            margin-top: 100px;
            max-width: 400px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
        .container h2 {
            text-align: center;
        }
        .container form {
            display: flex;
            flex-direction: column;
        }
        .container form input,
        .container form textarea {
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        .container form input[type="submit"] {
            background-color: blue;
            color: #fff;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }
       

        @media (max-width: 600px) {
            .container {
                max-width: 100%;
                margin: 0;
                border-radius: 0;
                margin-top: 100px;
            }
        }
    