.design-body{
    background-color:#eeeeee;
}
.row {
    display: flex;
}



.buttony {
    padding-top: 2%; /* Use a percentage of the parent's width for padding */
    padding-bottom: 2%;
    padding-right: 1%; /* Use a percentage of the parent's width for padding */
    padding-left: 0;
    border: none;
  
}

.button-container a {
    text-decoration: none;
    color: white;

}
.button-container a:hover{
    color: whitesmoke;

}

/* icon styles */
.icony{
    background-color:blue;
    color: white;
   font-size: larger;
    border-radius: 50%;
    padding: 30px;
    margin: 30px;
}
.p-text{
    color: black;
}









